*{
  margin: 0;
  padding: 0;
}
:root {
  --blue: #007bff;
  --skyblue: #61dafb;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.navi{
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}
.navi div{
  display: inline-block;
}
ul{
  display: flex;
  justify-content: end;
  list-style-type: none ;
}
ul li {
  display: inline-block;
  padding: 5px 15px;
}
nav .nav-item .nav-link:hover {
  color: var(--blue);
  cursor: pointer;
}
nav .nav-item:last-child{
  padding-right: 0;
}
nav .nav-item .nav-link:last-child{
  padding-right: 0;
}
h1,h2,h3{
  text-align: center;
  color: var(--blue);
}
h2{
  text-align: center;
  background-color: #61dafb;
  color: rgb(35, 36, 35);
}
.banner-body{
  height: 400px;
  background-image: url();
  background-color: azure;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}
.banner-body .banner-text{
  width: 50%;
  margin: 0 auto;
}
.banner-body h1{
  font-size: 48px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.shop{
  display: flex;
  width: 1160px;
  margin: 50px auto;
}
 h3{
  text-align: center;
  margin-top: 20px;
}
.custom-card{
  border: 1px solid #d7dedf;
  padding: 10px;
  margin: 10px 10px;
  border-radius: 5px;
  width: 25%;
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  font-weight: 400;
}
.custom-card .name{
  font-size: 16px;
  color: #282c34;
  font-weight: 500;
  margin-top: 5px;

}
.custom-card .class{
  font-size: 14px;
  color: #282c34;
  
}
.custom-card .grade{
  font-size: 14px;
  color: #282c34;
  
}
.prod-info{
  display: flex;
  justify-content: space-between;
}
footer{
  
  color: #ffffff;
  background-color: grey;
  padding: 20px 0;
}
footer .container{
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.countDown{
  text-align: center;
}
.btnCount{
  padding: 5px 10px;
  background-color: #61dafb;
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  margin: 0 auto;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.countParent{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}